@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WaveShopClient</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WaveShopClient.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary box-shadow mb-0">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-page="/Index">WaveShop</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/ProductsSold">Ventas</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse justify-content-end">
                    <ul class="navbar-nav">
                        <div class="nav-item">
                            <a asp-page="/ShoppingCart" asp-route-ID="2">
                                <span class="nav-link material-icons">
                                    shopping_cart
                                </span>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a asp-page="/Shoppings">
                                <span class="nav-link material-icons">
                                    shopping_bag
                                </span>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a asp-page="/Favorites">
                                <span class="nav-link material-icons">
                                    favorite
                                </span>
                            </a>
                        </div>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Login" asp-route-view="Login">
                                <span class="material-icons">
                                    account_circle
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <div class="container-fuid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - WaveShop site - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>