@page
@model FavoritesModel
@{
    ViewData["Title"] = "Favorites page";
}

<style>
    .card:hover {
        box-shadow: 10px 10px 5px pink;
        transition-duration: .3s;
    }

    .card {
        transition-duration: .3s;
        padding: 1em;
        font-size: small;
    }

    img {
        width: 7em;
    }
</style>

<div class="container">
    @for (int i = 0; i < 10; i++)
    {
        <div class="card m-3 rounded">
            <div class="row g-0">
                <div class="col-md-2">
                    <img src="https://cdn0.iconfinder.com/data/icons/creative-business-and-development/512/package_products_food_branding_merchandise_packaging_marketing_design_box_bottles_commercial_identity_flat_design_icon-512.png"
                    class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body m-0 p-0">
                        <h5 class="card-title mb-0">Nombre del producto</h5>
                        <small style="color: blue;">Cantidad disponible: [Cantidad]</small>
                        <p id="productDescription" class="card-text" style="text-align: justify;">Descripción: This is a
                            wider card with supporting
                            text
                            below as a natural lead-in to additional
                            content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Última actualización [Fecha]</small></p>
                    </div>
                </div>
                <div class="col-md-2" style="text-align: right;">
                    <label class="text-center fs-3">[Costo]</label>
                </div>
            </div>
        </div>
    }
</div>


@section Scripts {
<script>
    $(document).ready(() => {
        $('#productDescription').text(function () {
            var content = $(this).text();
            if (content.length > 280)
                return content.substring(0,280) + '...';
            else
                return $(this).text();
        });
    });
</script>
}