@page
@model PermissesModel
@{
    ViewData["Title"] = "Permisos page";
}


<div class="container mt-5">
    <h1 class="text-primary">Lo sentimos, solo los poderosos admin pueden entrar.</h1>
    <h2 class="text-dark">TSolo los administradores pueden ver esta sección</h2>

    <p>
        Si deseas contactarte con uno, envía un correo a  <a style="text-decoration: none;"><strong>waveshop@gmail.com</strong></a>
        y te responderemos lo más pronto posible.
    </p>

    <img class="img-fluid" src="https://cdn.dribbble.com/users/2901016/screenshots/7306420/media/ab692c785f4ca2aebf6fd85f0542830f.gif" alt="">

</div>
